.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(120deg, #1cb5e0, #000851);
  animation: fadeIn 1s ease-in;
}

.login-form {
  background: white;
  padding: 4rem;
  border-radius: 16px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  width: 25%;
  max-width: flex;
  margin: 0 auto;
  text-align: center;
  animation: popUp 0.5s ease;
}

.login-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.login-input {
  display: block;
  width: 95%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.login-input:focus {
  border-color: #1cb5e0;
  box-shadow: 0 0 0 2px rgba(28, 181, 224, 0.3);
  outline: none;
}

.login-button {
  width: 100%;
  padding: 1rem;
  border: none;
  background: #1cb5e0;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-button:hover {
  background: #1399c4;
}

.login-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.login-icon {
  font-size: 3rem;
  color: #1cb5e0;
  animation: bounceIn 0.6s ease;
}

.login-footer {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  background: none;
  border: none;
  color: #3498db;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s;
}

.register-link:hover {
  color: #21618c;
}


@keyframes bounceIn {
  0% { transform: scale(0.6); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}


@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes popUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
